* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 20px;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


header {
    background-color: #fff;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

header .logo {
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #255389;
}

.header-actions {
    display: flex;
    gap: 1rem;
}

.header-actions button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header-actions .login {
    background-color: #255389;
    color: #fff;
    border-radius: 40px;
}

.header-actions .signup {
    background-color: #fff;
    color: #255389;
    border-radius: 40px;
}


.image-text-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #fefda6;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Efecto de transición */
}

.image-text-container:hover {
    transform: scale(1.05); 
    background-color: #b7b7ca ;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}


.image-text-container img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease; 
}

.image-text-container:hover img {
    transform: scale(1.1); 
}


.text-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: "Playpen Sans", cursive;
    font-family: "Unlock", serif;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-content p {
    font-size: 1rem;
    color: #555;
    font-family: "Playpen Sans", cursive;
    font-family: "Unlock", serif;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.tituloo {
    text-align: center;
    font-family: "Playpen Sans", cursive;
    font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
}